python-dotenv
streamlit
langchain
langchain-community==0.4.1
langchain-core==0.3.84
langchain-groq==0.2.5
langchain-huggingface==0.1.2
langchain-chroma
langchain-text-splitters
pypdf
chromadb
sentence-transformers
faiss-cpu
