python-dotenv
streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
ipykernel
pypdf
arxiv
pymupdf
wikipedia
chromadb
sentence-transformers
faiss-cpu
duckdb
pandas
beautifulsoup4